@charset "UTF-8";  /* CSS파일 인코딩 선언 */

/*
-CSS문법:
selector {
    property: value;
    ...
}
*/


body {
    background-color: silver; /* 바탕색 */    
}
div {
    border: 2px solid white; /*테두리선 두께(width), 스타일(style), 컬러(color)*/
    margin: 10px; /* 테두리선(border) 바깥 여백 */
    padding: 20px; /* 테두리선 안쪽 여백 */
}