<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwill.spring2.repository.PostDao">
    
    <!-- Post 테이블 전체검색-목록보기 -->
    <select id="selectOrderByIdDesc" resultType="Post">
        select * from posts order by id desc    
    </select>
    
    <!-- Post테이블에서 id(PK)로 검색-상세보기 -->
    <select id="selectById" resultType="Post">
        select * from posts where id = #{id}     
    </select>
    
    <!-- Post테이블에 행 삽입-새글작성 -->
    <insert id="insertPost" >
        insert into posts (title, content, author) values (#{title}, #{content}, #{author})
    </insert>
    
    <!-- posts 테이블에서 해당 id의 제목과 내용 업데이트 -->
    <update id="updatePost">
        update posts set title = #{title}, content = #{content}, modified_time = systimestamp where id = #{id}
    </update>
    
    <!-- posts 테이블에서 해당 id의 행을 삭제 -->
    <delete id="deletePost">
        delete from posts where id = #{id}    
    </delete>
    
    <!-- post 테이블에서 제목,내용,작성자로 검색 -->
    <select id="search" resultType="Post">
        <bind name="searchKeyword" value="'%' + keyword + '%'" /><!-- "'%' + keyword + '%'"   keyword 변수이름? -->
            select * from posts
            <where>
                <choose>
                    <when test='category.equals("t")'><!-- category.equals("t") ->자바언어 -->
                        upper(title) like upper(#{searchKeyword})
                    </when>
                    <when test='category.equals("c")'>
                        upper(content) like upper(#{searchKeyword})
                    </when>
                    <when test='category.equals("tc")'>
                        upper(title) like upper(#{searchKeyword}) 
                        or
                        upper(content) like upper(#{searchKeyword})
                    </when>
                    <when test='category.equals("a")'>
                        upper(author) like upper(#{searchKeyword})
                    </when>
                </choose>
            </where>
            order by id desc       
    </select>
        
  </mapper>